@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttonStyle {
  width: 340px;
  height: 40px;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
}

.btnText {
  font-size: 14px;
  color: #1f2128;
}

.dashedBorder {
  border: 1px dashed #9747ff;
}

.checkBoxStyle {
  height: 25px;
  width: 25px;
}
